* {
    scrollbar-width: thin;
    scrollbar-color: orange hsl(200 20% var(--primary-lightness));
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: var(--background-color); */
    color: var(--primary-color);
    margin: 0;
}

html {
    background: linear-gradient(
        20deg,
        var(--background-color) 0%,
        var(--background-color-2) 100%
    );

    min-height: 100dvh;

    &[data-background="flat"] {
        background: var(--background-color-2);
    }
}

a {
    color: hsl(100, 30%, var(--secondary-lightness));
}

a:visited {
    color: hsl(100, 100%, var(--secondary-lightness));
}

.button {
    background-color: inherit;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    transition: all 0.2s;
    text-align: center;

    &:hover:not(:disabled) {
        background-color: var(--primary-color);
        color: var(--background-color);
    }
}

.reset {
    all: unset;
}

:root[data-theme="dark"] {
    --background-color: rgb(36, 36, 36);
    --background-color-2: rgb(10, 10, 10);
    --primary-color: rgb(230, 230, 230);
    --primary-color-2: rgb(197, 197, 197);
    --primary-lightness: 10%;
    --secondary-lightness: 80%;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --background-color: rgb(36, 36, 36);
        --background-color-2: rgb(10, 10, 10);
        --primary-color: rgb(230, 230, 230);
        --primary-color-2: rgb(197, 197, 197);
        --primary-lightness: 10%;
        --secondary-lightness: 80%;
    }
}

:root[data-theme="light"] {
    --background-color: rgb(207, 207, 207);
    --background-color-2: rgb(245, 245, 245);
    --primary-color: rgb(31, 31, 31);
    --primary-color-2: rgb(51, 51, 51);
    --primary-lightness: 90%;
    --secondary-lightness: 20%;
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme]) {
        --background-color: rgb(207, 207, 207);
        --background-color-2: rgb(245, 245, 245);
        --primary-color: rgb(31, 31, 31);
        --primary-color-2: rgb(51, 51, 51);
        --primary-lightness: 90%;
        --secondary-lightness: 20%;
    }
}

:root[data-theme="purple"] {
    --background-color: rgb(106, 57, 191);
    --background-color-2: rgb(45, 20, 89);
    --primary-color: rgb(206, 211, 148);
    --primary-color-2: rgb(220, 229, 123);
    --primary-lightness: 10%;
    --secondary-lightness: 80%;
}
